/* Preloader */

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #0f2a79;
    -webkit-animation: spin 2s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 1001;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #90050b;
    -webkit-animation: spin 3s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #ffae00;
    -webkit-animation: spin 1.5s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #edf0f5;
    z-index: 1000;
    -webkit-transform: translateX(0);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(0);
    /* IE 9 */
    transform: translateX(0);
    /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}


/* Loaded */

.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);
    /* IE 9 */
    transform: translateX(-100%);
    /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);
    /* IE 9 */
    transform: translateX(100%);
    /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateY(-100%);
    /* IE 9 */
    transform: translateY(-100%);
    /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}


/* JQuery Validate */

label.error {
    color: #90050b;
    text-align: right;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    width: 100%;
    height: auto;
}

.content-image,
.content-btn-payment {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-btn-payment {
    padding: 32px;
}

.btn-block {
    width: 100%;
}

.ds-collection-avatar-ball {
    display: flex;
    /*justify-content: space-around;*/
    align-items: center;
}

.ds-avatar-ball {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    min-width: 50px;
    border-radius: 50%;
    color: #ffffff !important;
    font-weight: 400;
    margin-right: 10px;
}


/* Background Colors */

.bgcolor-white {
    background-color: #ffffff;
}

.bg-lightgrey {
    background-color: #e9e9e9 !important;
}

.bg-lightbluegrey {
    background-color: #edf0f5 !important;
}

.bgcolor-darkgrey {
    background-color: #595959;
}

.bg-darkred {
    background-color: #90050b !important;
}

.bg-darkblue {
    background-color: #0f2a79 !important;
}

.bg-darkblack {
    background-color: #111111 !important;
}

.bgcolor-yellow {
    background-color: #ffae00;
}

.remove-margin {
    margin: 0 !important;
}


/* Fieldset */

.fieldset-content {
    width: auto;
    height: auto;
    margin-bottom: 15px;
    border: 1px solid #ddd;
}

.fieldset-padding {
    padding: 12px;
}

.legend-content {
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 15px;
    font-weight: 500;
    color: #90050b;
}


/* Remove Margin */

.ds-margin-t {
    margin-top: 15px;
}

.ds-remove-margin-t {
    margin-top: 0 !important;
}

.ds-margin-r {
    margin-right: 15px;
}

.ds-remove-margin-r {
    margin-right: 0 !important;
}

.ds-margin-b {
    margin-bottom: 15px;
}

.ds-remove-margin-b {
    margin-bottom: 0 !important;
}

.ds-margin-l {
    margin-left: 15px;
}

.ds-remove-margin-l {
    margin-left: 0 !important;
}


/* Remove Padding */

.ds-padding {
    padding: 15px !important;
}

.ds-remove-padding {
    padding: 0 !important;
}

.ds-padding-t {
    padding-top: 15px;
}

.ds-remove-padding-t {
    padding-top: 0 !important;
}

.ds-padding-r {
    padding-right: 15px;
}

.ds-remove-padding-r {
    padding-right: 0 !important;
}

.ds-padding-b {
    padding-bottom: 15px;
}

.ds-remove-padding-b {
    padding-bottom: 0 !important;
}

.ds-padding-l {
    padding-left: 15px;
}

.ds-remove-padding-l {
    padding-left: 0 !important;
}


/* Underline */

.underline {
    margin: 0 0 15px 0;
    border-bottom: 1px solid #90050b;
    padding-bottom: 15px;
    position: relative;
}

.underline:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #90050b;
    width: 25%;
    height: 2px;
}

.underline-white {
    margin: 0 0 15px 0;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 15px;
    position: relative;
}

.underline-white:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    width: 25%;
    height: 2px;
}

.foot-fixed {
    z-index: 1;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .image {
        width: 100%;
        height: auto;
    }
    #btn_pagamento {
        width: 100%;
    }
}